# Ignore dependencies
node_modules/
venv/

# Ignore Python artifacts
*.pyc
__pycache__/

# Ignore env files
.env*
*.log

# Ignore build/output
dist/
build/



# Ignore IDE/system files
.vscode/
.DS_Store
Thumbs.db
